.DS_Store
utils/files/input/english.txt
utils/files/input/portuguese.txt
utils/__pycache__/
tokenizers/__pycache__/
__pycache__/
attention/__pycache__/
batchs/__pycache__/
decodes/__pycache__/
encodes/__pycache__/
paddings/__pycache__/
venv